* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}


#main {
    height: 100%;
    width: 100%;
    background-color: rgb(139, 193, 145);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pannel {
    height: 85%;
    width: 80%;
    background-color: rgb(220, 225, 221);
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    height: 15%;
    width: 100%;
    align-items: center;
    background-color: rgb(15, 96, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#box {
    display: flex;
    gap: 10px;
    color: #fff;
}

#result {
    height: 30px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5vw;
    padding: 0px 25px;
    background-color: #fff;
    color: rgb(44, 158, 44);
}


#pbtm {
    height: calc(100% - 15%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;

}

#bubble {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #0b651c;
}

#bubble:hover {
    background-color: #034720;
}